html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Sofia Sans", Arial, sans-serif;
  background-color: #030827;
  color: rgba(255, 255, 255, 0.95);
}
:root {
  --font-family: "Sofia Sans", sans-serif;
  --second-family: "Inter", sans-serif;
}
